body {
  color:#424242;
  font-family:Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:#fafafa;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.card-frame { 
    min-width: 640px; /* height: 320px */
    max-width: 1024px; /* height: 576px */
}
.outside-frame { 
    width:1280px; height:720px; 
    margin:0px 0px; 
}
.inside-frame { 
/*    width:100%; height:100%;*/ 
    position:relative;
}
.capture-image { 
/*    width:100%; height:100%; */
    position:absolute; top:0px; left:0px;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.canvas-crop-line { 
/*    width:100%; height:100%;*/ 
    position:absolute; top:0px; left:0px;
    /* background-color: rgba(255,0,0,0.05); */
}
.hide { 
    display:none;
    visibility:hidden;
}